# Terraform files
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
crash.log
*.tfvars # Ignore all .tfvars files, which are likely to contain sensitive data
*.tfvars.json

# Production
build/

# Environment files
.env*
.env.local